body {
    margin: 0;
    padding: 0;
    background-image: url('/images/tinh-yeu-dep.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-family: sans-serif;
    overflow: hidden;
}

button{
    min-width: 150px;
    min-height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    border-radius: 1000px;
    border: none;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    z-index: 11;
    margin-right: 10%;
    background: cyan;
}
button:hover{
    background: #fb2525;
}
button:hover a{
    color: cyan;
}
a{
    font-size: 24px;
    text-decoration: none;
    color:#fb2525;
    font-weight: bold;
}

.back {
    display: block;
    position: relative;
    top: 200px;
    left: 37%;
}
.content{
    display: block;
    position: relative;
    top: 120px;
    left: 30%;
}
h1{
    color:#f50c2b;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
    font-family: "Times New Roman", Times, serif;
}
.diff{
    left: 35%;
}
.diff1{
    left: 34%;
}
.diff2{
    padding: 20px  15px;

}